<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PDF TEXT</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
</head>

<body>
  <div id="app">
  </div>
  <script src="/src/util/pdf.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script>

    new Vue({
      el: '#app',
      template: `<div id="js-pdf"><p v-for="(it,ky) in texts" :key="ky" v-html="it"></p></div>`,
      mounted() {
        var jsPDF = document.getElementById('js-pdf');
        let self = this;
        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '/src/util/pdf.worker.js';

        var loadingTask = pdfjsLib.getDocument(self.url);
        loadingTask.then(function (pdf) {
          self.pdfDocument = pdf;

          for (var i = 0; i < pdf.numPages; i++) {
            // Required to prevent that i is always the total of pages
            (function (pageNumber) {
              self.pagesPromises.push(self.getPageText(pageNumber, self.pdfDocument));
            })(i + 1);
          }

          Promise.all(self.pagesPromises).then(function (pagesText) {
            for (var i = 0; i < pagesText.length; i++) {
              self.texts.push(pagesText[i]);
            }
          });
        }, function (reason) {
          // PDF loading error
          console.error(reason);
        });
      },
      data: {
        url: '/OS.pdf',
        texts: [],
        pdfDocument: null,
        pagesPromises: []
      },
      methods: {
        getPageText(pageNum, PDFDocumentInstance) {
          // Return a Promise that is solved once the text of the page is retrieven
          return new Promise(function (resolve, reject) {
            PDFDocumentInstance.getPage(pageNum).then(function (pdfPage) {
              // The main trick to obtain the text of the PDF page, use the getTextContent method
              pdfPage.getTextContent().then(function (textContent) {
                var textItems = textContent.items;
                var finalString = "";

                // Concatenate the string of the item to the final string
                for (var i = 0; i < textItems.length; i++) {
                  var item = textItems[i];
                  finalString += item.str + " ";
                }
                // Solve promise with the text retrieven from the page
                resolve(finalString);
              });
            });
          });
        }
      },
    });
  </script>
</body>

</html>