<template>
  <div>
    <div :class="inputClass + ' tags-input'">
      <span class="label label-primary tags-input-clear" v-for="(badge, index) in tagBadges" :key="index">
        <span v-html="badge"></span>
        <i href="#" class="tags-input-remove glyphicon glyphicon-remove" @click.prevent="removeTag(index)"></i>
      </span>
      <input type="text" class="form-control" v-if="!hideInput" :placeholder="placeholder" v-model="input" @keydown.enter.prevent="tagFromInput" @keydown.8="removeLastTag" @keydown.down="nextSearchResult" @keydown.up="prevSearchResult" @keyup.esc="ignoreSearchResults" @keyup="searchTag" @value="tags">

      <input type="hidden" v-if="elementId" :name="elementId" :id="elementId" v-model="hiddenInput">
    </div>
    <p v-show="searchResults.length" class="typeahead">
      <span v-for="(tag, index) in searchResults" :key="index" v-text="tag.text" @click="tagFromSearch(tag)" class="label" v-bind:class="{
                    'label-primary': index == searchSelection,
                    'label-default': index != searchSelection
                }"></span>
    </p>
  </div>
</template>
<script>
export default {
  props: {
    elementId: String,

    inputClass: {
      type: String,
      default: "tags-input-default-class"
    },

    existingTags: {
      type: Object,
      default: () => {
        return {};
      }
    },

    value: {
      type: [Array, String, Object],
      default: () => {
        return [];
      }
    },

    typeahead: {
      type: Boolean,
      default: false
    },

    typeaheadActivationThreshold: {
      type: Number,
      default: 1
    },

    typeaheadMaxResults: {
      type: Number,
      default: 0
    },

    placeholder: {
      type: String,
      default: "Add a tag"
    },

    limit: {
      type: Number,
      default: 0
    },

    onlyExistingTags: {
      type: Boolean,
      default: false
    },

    deleteOnBackspace: {
      type: Boolean,
      default: true
    },

    allowDuplicates: {
      type: Boolean,
      default: false
    },

    validate: {
      type: Function,
      default: () => true
    }
  },
  updated() {
    let spans = document.querySelectorAll(".tags-input-clear span");
    for (let index = 0; index < spans.length; index++) {
      const element = spans[index];
      if (element.clientWidth > 250) {
        if (!element.classList.contains("tag-max-span"))
          element.classList.add("tag-max-span");
      }
    }
  },
  data() {
    return {
      badgeId: 0,
      tagBadges: [],
      tags: [],
      input: "",
      oldInput: "",
      hiddenInput: "",

      searchResults: [],
      searchSelection: 0
    };
  },
  computed: {
    hideInput: function() {
      return this.limit == this.tags.length && this.tags.length > 0;
    }
  },
  created() {
    this.tagsFromValue();
  },
  watch: {
    tags() {
      // Updating the hidden input
      this.hiddenInput = this.tags.join(",");
      // Update the bound v-model value
      if (this.limit == 1) this.$emit("input", this.tags[0]);
      else this.$emit("input", this.tags);
    },
    value() {
      this.tagsFromValue();
    }
  },

  methods: {
    tagFromInput(e) {
      // If we're choosing a tag from the search results
      if (this.searchResults.length && this.searchSelection >= 0) {
        this.tagFromSearch(this.searchResults[this.searchSelection]);

        this.input = "";
      } else {
        // If we're adding an unexisting tag
        let text = this.input.trim();

        // If the new tag is not an empty string and passes validation
        if (!this.onlyExistingTags && text.length && this.validate(text)) {
          this.input = "";

          // Determine the tag's slug and text depending on if the tag exists
          // on the site already or not
          let slug = this.makeSlug(text);
          let existingTag = this.existingTags[slug];

          slug = existingTag ? slug : text;
          text = existingTag ? existingTag : text;

          this.addTag(slug, text);
        }
      }
    },

    tagFromSearch(tag) {
      this.searchResults = [];
      this.input = "";
      this.oldInput = "";

      this.addTag(tag.slug, tag.text);
    },

    makeSlug(value) {
      return value.toLowerCase().replace(/\s/g, "-");
    },

    addTag(slug, text) {
      // Check if the limit has been reached
      if (this.limit > 0 && this.tags.length >= this.limit) {
        return false;
      }

      // Attach the tag if it hasn't been attached yet
      if (!this.tagSelected(slug)) {
        this.tagBadges.push(text.replace(/\s/g, "&nbsp;"));
        this.tags.push(slug);
      }
    },

    removeLastTag(e) {
      if (!e.target.value.length && this.deleteOnBackspace) {
        this.removeTag(this.tags.length - 1);
      }
    },

    removeTag(index) {
      this.tags.splice(index, 1);
      this.tagBadges.splice(index, 1);
    },

    searchTag(e) {
      if (this.typeahead === true) {
        if (this.oldInput != this.input) {
          this.searchResults = [];
          this.searchSelection = 0;
          let input = this.input.trim();

          if (
            input.length &&
            input.length >= this.typeaheadActivationThreshold
          ) {
            for (let slug in this.existingTags) {
              let text = this.existingTags[slug].toLowerCase();

              if (
                text.search(input.toLowerCase()) > -1 &&
                !this.tagSelected(slug)
              ) {
                this.searchResults.push({
                  slug,
                  text: this.existingTags[slug]
                });
              }
            }

            // Sort the search results alphabetically
            this.searchResults.sort((a, b) => {
              if (a.text < b.text) return -1;
              if (a.text > b.text) return 1;

              return 0;
            });

            // Shorten Searchresults to desired length
            if (this.typeaheadMaxResults > 0) {
              this.searchResults = this.searchResults.slice(
                0,
                this.typeaheadMaxResults
              );
            }
          }

          this.oldInput = this.input;
        }
      }
    },

    nextSearchResult() {
      if (this.searchSelection + 1 <= this.searchResults.length - 1) {
        this.searchSelection++;
      }
    },

    prevSearchResult() {
      if (this.searchSelection > 0) {
        this.searchSelection--;
      }
    },
    ignoreSearchResults() {
      this.searchResults = [];
      this.searchSelection = 0;
    },
    /**
     * Clear the list of selected tags
     */
    clearTags() {
      this.tags.splice(0, this.tags.length);
      this.tagBadges.splice(0, this.tagBadges.length);
    },

    /**
     * Replace the currently selected tags with the tags from the value
     */
    tagsFromValue() {
      if (this.value && this.value.length) {
        let tags = Array.isArray(this.value)
          ? this.value
          : this.value.split(",");

        if (this.tags == tags) {
          return;
        }

        this.clearTags();

        for (let slug of tags) {
          let existingTag = this.existingTags[slug];
          let text = existingTag ? existingTag : slug;

          this.addTag(slug, text);
        }
      } else {
        if (this.tags.length == 0) {
          return;
        }

        this.clearTags();
      }
    },

    /**
     * Check if the tag with the provided slug is already selected
     */
    tagSelected(slug) {
      if (this.allowDuplicates) {
        return false;
      }

      if (!slug) {
        return false;
      }

      let searchSlug = this.makeSlug(slug);
      let found = this.tags.find(value => {
        return searchSlug == this.makeSlug(value);
      });

      return !!found;
    }
  }
};
</script>

<style>
/* tags-input */
.tags-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.tags-input input {
  flex: 1;
  background: transparent;
}
.tag-max-span {
  max-width: 200px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tags-input span {
  font-size: 100%;
  padding: 8px;
  margin-right: 0.3rem;
  margin-bottom: 0.2rem;
}
.tags-input-remove {
  float: right;
}
.typeahead > span {
  cursor: pointer;
  margin-right: 0.3rem;
}
</style>

