<template>
  <div class="jb-input-multi">
    <input type="text" class="form-control" :placeholder="placeholder" v-model="input" @keyup="searchItem" @value="tags">
    <ul class="list-group ">
      <li v-for="(item,index) in searchResults" :key="index" class="list-group-item" :title="inputValue ? item[inputValue] : item[inputKey]">{{ inputValue ? item[inputValue] : item[inputKey] }}
        <span @click="handleSelect(item[inputKey])" class="label label-primary">
          <i class="glyphicon glyphicon-ok-circle"></i>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
import Vue from "vue";
import DeepVue from "../util/DeepVue.js";
export default {
  props: {
    placeholder: {
      type: String,
      default: "Buscar ..."
    },
    inputDestiny: {
      type: String,
      required: true
    },
    inputKey: {
      type: String,
      required: true
    },
    inputValue: {
      type: String
    },
    existing: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  watch: {
    existing: function(newVal, oldVal) {
      for (let index = 0; index < newVal.length; index++) {
        const element = newVal[index];
        this.tags.push(element);
        this.searchResults.push(element);
      }
    }
  },
  methods: {
    searchItem() {
      if (this.oldInput != this.input) {
        this.searchResults = [];
        this.searchSelection = 0;
        let input = this.input.trim();
        let key = this.inputValue ? this.inputValue : this.inputKey;
        this.searchResults = this.tags.filter(text => {
          return text[key].toLowerCase().search(input.toLowerCase()) > -1;
        });
        // if (input.length && input.length >= this.typeaheadActivationThreshold) {
        //   for (let slug in this.existingTags) {
        //     let text = this.existingTags[slug].toLowerCase();

        //     if (
        //       text.search(input.toLowerCase()) > -1 &&
        //       !this.tagSelected(slug)
        //     ) {
        //       this.searchResults.push({
        //         slug,
        //         text: this.existingTags[slug]
        //       });
        //     }
        //   }

        //   // Sort the search results alphabetically
        //   this.searchResults.sort((a, b) => {
        //     if (a.text < b.text) return -1;
        //     if (a.text > b.text) return 1;

        //     return 0;
        //   });

        //   // Shorten Searchresults to desired length
        //   if (this.typeaheadMaxResults > 0) {
        //     this.searchResults = this.searchResults.slice(
        //       0,
        //       this.typeaheadMaxResults
        //     );
        //   }
        // }

        this.oldInput = this.input;
      }
    },
    handleSelect(i) {
      let key = this.inputKey;
      let curIndex = this.tags.findIndex(it => {
        return it[key] == i;
      });

      let obValue = this.deepFind(this.$parent, this.inputDestiny);
      if (obValue == undefined) obValue = "";
      let fob = this.inputDestiny.split(".");
      DeepVue.vueSet(this,
        this.$parent,
        this.inputDestiny,
        obValue + this.tags[curIndex][key]
      );
    },
    deepFind(obj, path) {
      var paths = path.split("."),
        current = obj,
        i;

      for (i = 0; i < paths.length; ++i) {
        if (current[paths[i]] == undefined) {
          return undefined;
        } else {
          current = current[paths[i]];
        }
      }
      return current;
    },
    removeTag(index) {
      this.tags.splice(index, 1);
      this.tagBadges.splice(index, 1);
    },
    clearTags() {
      this.tags.splice(0, this.tags.length);
    }
  },
  mounted() {
    for (let index = 0; index < this.existing.length; index++) {
      const element = this.existing[index];
      this.tags.push(element);
      this.searchResults.push(element);
    }
  },
  data() {
    return {
      badgeId: 0,
      tagBadges: [],
      tags: [],

      input: "",
      oldInput: "",
      hiddenInput: "",

      searchResults: [],
      searchSelection: 0
    };
  }
};
</script>

<style>
.jb-input-multi input {
  border-radius: 0px;
  margin-bottom: 2px;
}
.jb-input-multi ul {
  height: 90px;
  overflow-y: scroll;
  border: solid 1px #cccccc;
}
.jb-input-multi ul .list-group-item {
  border-radius: 0px;
  padding: 5px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.jb-input-multi ul .list-group-item span {
  position: relative;
  float: right;
  cursor: pointer;
}
.jb-input-multi .list-group-item:nth-child(even) {
  background-color: #f2f2f2;
}
</style>

