<template>
  <div class="autocomplete">
    <input type="text" class="form-control" :placeholder="placeholder" v-model="input" @keydown.8="onRemoveItem" @keydown.46="onRemoveItem" @keyup="onSearch" />
    <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback" @click="onRemoveItem" v-show="bnClear"></span>
    <ul v-show="searchResults.length" class="autocomplete-items" style="height: null">
      <li v-for="(itm,ky) in searchResults" @click="onItemClick(itm)" :key="ky">
        <a href="#" :jb-key="itm[inputKey]" v-html="itm[inputValue]"></a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    options: {
      type: Array,
      default: function() {
        return [];
      }
    },
    inputView: {
      type: [String, Object],
      required: true,
      default: () => ({})
    },
    value: {
      type: [Array, String, Object],
      default: () => {
        return [];
      }
    },
    placeholder: {
      type: String,
      default: "Buscar ..."
    }
  },
  mounted() {
    let iView = this.inputView;
    if (typeof iView == "object") {
      let keys = Object.keys(iView);
      let ky = keys.length > 1 ? "" : keys[0];

      this.$set(this, "inputKey", ky);
      this.$set(this, "inputValue", iView[ky]);
    } else {
      this.$set(this, "inputKey", iView);
      this.$set(this, "inputValue", iView);
    }
    if (this.value) {
      if (typeof this.value == "object")
        this.input = this.value[this.inputValue];
      else this.input = this.value;

      if (this.input) this.bnClear = true;
    }
  },
  data: function() {
    return {
      inputKey: "",
      inputValue: "",
      focus: false,
      bnClear: false,
      items: [],
      searchResults: [],
      input: "",
      oldInput: ""
    };
  },
  watch: {
    value: function(newVal, oldVal) {
      // watch it
      if (newVal == null) {
        this.input = newVal;
      } else {
        if (typeof newVal == "object") this.input = newVal[this.inputValue];
        else this.input = newVal;
      }
      if (this.input) this.bnClear = true;
      else this.bnClear = false;
    }
  },
  methods: {
    onSearch(e) {
      if (this.oldInput != this.input) {
        this.searchResults = [];
        this.searchSelection = 0;
        if (this.input == null) return;

        let input = this.input.trim();

        if (input.length) {
          this.bnClear = true;
          for (let indx in this.$props.options) {
            let option = this.$props.options[indx];
            let text = option[this.inputValue].toLowerCase();
            if (
              text.search(input.toLowerCase()) > -1
              // && !this.itemSelected(option)
            ) {
              this.searchResults.push(option);
            }
          }

          // Sort the search results alphabetically
          this.searchResults.sort((a, b) => {
            if (a.text < b.text) return -1;
            if (a.text > b.text) return 1;

            return 0;
          });

          // Shorten Searchresults to desired length
          if (this.typeaheadMaxResults > 0) {
            this.searchResults = this.searchResults.slice(
              0,
              this.typeaheadMaxResults
            );
          }
        } else {
          this.bnClear = false;
        }

        this.oldInput = this.input;
      }
    },
    onRemoveItem(e) {
      if (e.target.value) {
        if (!e.target.value.length) {
          this.removeItem();
        }
      } else {
        this.removeItem();
        this.bnClear = false;
        this.input = "";
      }
    },
    removeItem() {
      this.$emit("input", null);
    },
    onItemClick(data) {
      this.searchResults = [];
      this.items = [];
      this.oldInput = "";
      this.focus = !this.focus;
      this.input = data.name;
      // this.items.push(data);
      this.bnClear = true;
      this.$emit("input", data);
    },

    /**
     * Check if the tag with the provided item is already selected
     */
    itemSelected(item) {
      //   if (this.allowDuplicates) {
      //     return false;
      //   }
      if (!item) {
        return false;
      }

      let found = null;
      if (typeof item === "object") {
        found = this.items.find(value => {
          return item[this.inputKey] == value[this.inputKey];
        });
      } else {
        found = this.items.find(value => {
          return item == value;
        });
      }
      return !!found;
    }
  }
};
</script>

<style>
.autocomplete {
  position: relative;
}
.autocomplete-items {
  position: absolute;
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  overflow: auto;
}
.autocomplete-items li {
  padding: 6px;
  list-style: none;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items li:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
::-ms-clear {
  display: none;
}
.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}
</style>
