<template>
  <div class="jb-ml">
    <div class="modal fade" v-bind:id="jbId" tabindex="-1" role="dialog">
      <div v-bind:class="jbFSize" v-bind="attr" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" @click="hide" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{header}}</h4>
          </div>
          <div class="modal-body">
            <form action="" v-bind:id="jbFId">
              <slot :model="modelForm" :initValues="initValues"></slot>
            </form>
          </div>
          <div class="modal-footer" v-show="showButton">
            <button type="button" class="btn btn-default" @click="hide">{{cancelTitle}}</button>
            <button type="button" class="btn btn-primary" v-on:click="handleClick">{{saveTitle}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "JbModal",
  props: {
    jbId: {
      required: true,
      type: String,
      default: "jbmodal"
    },
    jbSize: {
      required: false,
      type: String,
      default: ""
    },
    showButton: {
      type: Boolean,
      default: true
    },
    initValues: {
      type: [Object, Array],
      default: () => {
        return {};
      }
    },
    attr: {
      type: Object,
      default: () => {
        return {};
      }
    },
    header: {
      type: String
    },
    saveTitle: {
      type: String,
      default: "Guardar"
    },
    cancelTitle: {
      type: String,
      default: "Cancelar"
    }
  },
  mounted() {
    if (this.$props.jbSize) {
      this.$set(this, "jbFSize", `modal-dialog ${this.$props.jbSize}`);
    }
    this.$set(this, "jbFId", this.$props.jbId + "Form");
  },
  methods: {
    show(data, rowIndex) {
      this.modelForm = data;
      this.rowIndex = rowIndex;
      // this.model = data;
      // this.isIn = true;
      // this.visible = "block";
      $(`#${this.jbId}`).modal("show");
    },
    showAsyn(url, method, params, rowIndex) {
      let self = this;
      if (method == undefined) method = "GET";

      fetch(url, {
        method: method,
        body: JSON.stringify(params)
      })
        .then(function(response) {
          return response.json();
        })
        .then(function(response) {
          self.modelForm = response;
          self.rowIndex = rowIndex;
          // this.model = data;
          // self.isIn = true;
          // self.visible = "block";
          $(`#${self.jbId}`).modal("show");
        })
        .catch(function(err) {
          console.error(err);
        });
    },
    hide() {
      // this.isIn = false;
      // this.visible = "none";
      $(`#${this.jbId}`).modal("hide");
    },
    handleClick() {
      let oks = true;
      let cntrls = document.getElementById(this.jbFId).elements;
      for (let idx = 0; idx < cntrls.length; idx++) {
        const element = cntrls[idx];
        const req = element.getAttribute("required");
        if (req) {
          if (validateInput(element)) {
            oks = false;
          }
        }
      }

      if (!oks) return false;

      let jbModel = Object.assign({}, this.modelForm);
      jbModel.rowIndex = this.rowIndex;
      this.$emit("save", {
        jbModel
      });
      this.hide();
    }
  },
  data() {
    return {
      jbFId: "",
      jbFSize: "modal-dialog",
      rowIndex: null,
      isIn: false,
      visible: "none",
      modelForm: {}
    };
  }
};
</script>
<style lang="scss">
.jb-ml .modal {
  animation: grow 0.3s ease-in;
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: translate(-100);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
</style>
